<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Todos los usuarios</title>
</head>
<body>

	<form action="#" th:action="@{/user/search}">

		<input type="text" name="name" placeholder="Nombre:"> 
		<input type="text" name="lastnameP" placeholder="Paterno:"> 
		<input type="text" name="lastnameM" placeholder="Materno:">

		<button type="submit">Buscar!</button>

	</form>

	<table style="border: 1; border-color: solid blue;">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Apellido P.</th>
				<th>Apellido M.</th>
				<th>Edad</th>
				<th>Dirección</th>
			</tr>
		</thead>
		<tbody>

			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.lastnameP}"></td>
				<td th:text="${user.lastnameM}"></td>
				<td th:text="${user.age}"></td>
				<td th:text="${user.address}"></td>
				<td><a href="#" th:href="@{'/user/edit/'+${user.id}}">
						<button>Editar</button>
				</a></td>
				<td><a href="#" th:href="@{'/user/delete/'+${user.id}}">
						<button>Eliminar</button>
				</a></td>
			</tr>

		</tbody>
	</table>

</body>
</html>