<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Todos los Libros</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Título</th>
				<th>Autor</th>
				<th>Editorial</th>
				<th>Páginas</th>
				<th>Edición</th>
				<th>Existencias</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${books}">
				<td th:text="${book.id}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.editorial}"></td>
				<td th:text="${book.pages}"></td>
				<td th:text="${book.edition}"></td>
				<td th:text="${book.stock}"></td>
				<td><a href="#" 
						th:href="@{'/book/edit/'+${book.id}}">
						<button>Editar</button>
				</a></td>
				<td><a href="#" 
						th:href="@{'/book/delete/'+${book.id}}">
						<button>Eliminar</button>
				</a></td>
			</tr>

		</tbody>
	</table>

</body>
</html>